/* Drop Area */

.dropzone-drop-area{
  height: 100%;
  padding: 30px;
}

.dropzone-upload-files-button{
  margin-bottom: 20px;
}

.dropzone-container{
  height: calc(100% + 28px);
}

dropzone > .dropzone.dz-wrapper{
  height: 100%;
}

dropzone > .dropzone.dz-wrapper.dz-single .dz-message{
  display: none;
}

.overlay-container{

}

.dropzone-drop-overlay{
  height: 100%;
  bottom: 0px;
  left: 30px;
  right: 30px;
  /* height: 100%; */
  position: absolute;
  top: 87px;
  border: 2px solid;
  background-color: transparent;
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #AAA;
  opacity: 0.1;
  border-radius: .3rem;
}

.drop-here{
  position: absolute;
  display: flex;
  color: #000;
  text-align: center;
  flex-direction: column;
  align-items: center;
  /* justify-content: right; */
  bottom: -70px;
  /* width: 100%; */
  left: 0;
  right: 0;
}

.dropzone-drop-overlay > .drop-here > h5 {
  position: absolute;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;

}

.drop-here-icon{
  background-image: url("../../../assets/icons/drag-icon.png");
  height: 48px;
  width: 64px;
  background-size: cover;
  margin-bottom: 10px;
  animation-name: jump;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes jump {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}

.jump {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}


/* Upload File List */

.modal {
  display: flex;
  width: 0px;
  height: 0px;
}

.modal-dialog{
  margin: 0px !important;
  bottom: 20px;
  right: 20px;
  position: fixed;
}

.modal-content{
  min-width: 400px;
}

.modal-header-button-group{
  display: flex;
}

.modal-title{
  margin-right: 30px;
}

.dz-preview{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.dz-details{
  display: flex;
  flex-direction: row;
}

.dz-icons{
  display: flex;
  flex-direction: column;
}


#dz-success{
  display:none;
}

#dz-error{
  display:none;
}

#dz-error-group{
  display: none;
}
